@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype");
}

/* General styling */
body {
  background-color: var(--bg-color);
  font-family: "Source Sans Pro";
  height: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

:root {
  --light-grey: #bbb;
  --grey: #786f6f;
  --input-grey: rgba(50, 49, 49, 0.5);
  --dark-grey: #323131;
  --white: #fff;
  --bg-color: #f5f5f5;
  --font-size: 1.5em;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header styling */
header {
  margin-bottom: 80px;
}

nav {
  background-color: #635e5e;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav h1 {
  color: var(--light-grey);
  font-size: var(--font-size);
  margin-left: 25px;
}

nav h1 a {
  color: var(--white);
  text-decoration: none;
}

nav h1 a:hover {
  color: var(--light-grey);
}

ul.flex-space {
  border: 1px solid var(--white);
  border-radius: 4px;
  margin-right: 5%;
}

.nav-btn {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 1.2em;
  border-right: 1px solid var(--white);
  transition: all 0.4s;
}

nav ul :last-child a button {
  border-right: none;
}

.nav-btn:hover {
  background-color: var(--light-grey);
}

/* First section styling */
.alpha-section {
  background-image: url(../images/overlay.png),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
    url(../images/cover.jpg);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, cover, cover;
  background-attachment: scroll, scroll, fixed;
  background-position: center;
  flex-direction: column;
  color: var(--white);
  height: 700px;
  text-align: center;
}

.alpha-heading {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.alpha-par {
  max-width: 400px;
  margin-bottom: 40px;
}

.alpha-btns {
  border: 1px solid var(--white);
  border-radius: 4px;
  text-decoration: none;
}

.sign-up {
  padding: 10px 40px;
  color: var(--dark-grey);
  background-color: var(--light-grey);
  transition: all 0.4s;
}

.sign-up:hover {
  background-color: var(--white);
}

.learn-more {
  padding: 10px 28px;
  color: #4e4c4c;
  background-color: var(--white);
  transition: all 0.4s;
}

.learn-more:hover {
  background-color: #efefef;
}

/* Main section styling */
.main-section {
  margin: 0 auto 30px;
  max-width: 100%;
  width: 70%;
  color: var(--grey);
  text-align: center;
}

/* Main - first section styling */
.first-wrapper {
  background-color: var(--white);
  padding-top: 50px;
  border-radius: 4px;
  transform: translateY(-100px);
  margin-bottom: -70px;
}

.first-heading {
  font-size: 2em;
  line-height: var(--font-size);
  width: 60%;
  margin: 0px auto 50px;
}

hr {
  width: 70%;
  border-top: 1px solid var(--light-grey);
}

.first-paragraph {
  max-width: 60%;
  margin: 50px auto;
}

.first-image {
  max-width: 100%;
}

/* Main - Second section styling */
.second-wrapper {
  padding: 20px;
  background-color: var(--white);
  margin-bottom: 30px;
}

.second-wrapper p {
  line-height: var(--font-size);
}

.home-img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.home-img:hover {
  transform: scale(1.1);
}

.single-items-heading {
  font-size: var(--font-size);
  margin-bottom: 25px;
}

.single-item {
  max-width: 50%;
  padding: 10px;
}

.first-row {
  border-bottom: 1px solid var(--light-grey);
}

.border {
  border-right: 1px solid var(--light-grey);
}

/* Main - Third section styling */
.third-wrapper {
  align-items: stretch;
}

.learn-more-item {
  max-width: 48%;
  background-color: var(--white);
  border-radius: 4px;
  padding-bottom: 15px;
}

.learn-more-img {
  max-width: 100%;
  margin-bottom: 25px;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.learn-more-img:hover {
  filter: grayscale(0%);
}

.learn-more-par {
  max-width: 90%;
  margin: 25px auto 10px;
  line-height: var(--font-size);
}

.learn-more-btn {
  background-color: var(--light-grey);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 10px 40px;
}

.learn-more-btn:hover {
  background-color: #f3f3f3;
  color: #4b4949;
}

/* Footer styling */
footer {
  background-color: #d8d8d8;
  width: 100%;
  padding: 32px 0 20px;
  flex-direction: column;
}

footer p {
  color: var(--grey);
}

footer p a {
  color: var(--white);
  text-decoration: none;
}

footer p a:hover {
  color: var(--grey);
}

.footer-imgs {
  margin-bottom: 10px;
}

.footer-imgs:hover {
  opacity: 0.5;
}

.footer-wrapper {
  background-image: url("../images/icons.png");
  background-size: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.single-item-footer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.single-item-footer:hover {
  background: var(--light-grey);
  opacity: 0.5;
}

/* Overlay styling */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 30px auto 0;
  display: none;
  background-color: var(--white);
  padding-bottom: 20px;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--white);
}

/* Loader styling */
#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.75);
}

.loader {
  border: 12px solid var(--white);
  border-top: 12px solid var(--light-grey);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  position: relative;
  top: 30%;
  animation: spin 2s linear infinite;
}

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive view */
/* Tablet */
@media only screen and (max-width: 991px) {
  .first-row {
    flex-direction: column;
    border: none;
  }

  .second-row {
    flex-direction: column;
  }

  .border {
    border-right: none;
  }

  .single-item {
    border-bottom: 1px solid var(--light-grey);
    max-width: 100%;
    margin-bottom: 20px;
  }

  .last-single-item {
    margin-bottom: 0;
    border-bottom: none;
  }

  .single-item p {
    margin-bottom: 25px;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  nav {
    height: auto;
    padding: 20px 0;
    flex-direction: column;
  }

  nav h1 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .alpha-section {
    height: 450px;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .main-section {
    width: 90%;
  }

  .first-wrapper {
    transform: translateY(0);
    margin-bottom: 30px;
  }

  .first-heading {
    font-size: 1.5em;
    line-height: 1em;
    width: 90%;
    margin: 0px auto 30px;
  }

  hr {
    width: 80%;
  }

  .first-paragraph {
    max-width: 80%;
  }

  .third-wrapper {
    flex-direction: column;
  }

  .main-section .third-wrapper :first-child {
    margin-bottom: 20px;
  }

  .learn-more-item {
    max-width: 100%;
  }

  .closebtn {
    right: 25px;
  }

  .overlay-content {
    width: 90%;
  }
}
