@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Light.ttf") format("truetype");
}

body {
  font-family: "Source Sans Pro";
  background-color: #f5f5f5;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-bottom: 80px;
}

.navigation {
  background-color: #635e5e;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-heading {
  color: #bbb;
  font-size: 1.5em;
  margin-left: 25px;
}

.alpha {
  color: #fff;
  text-decoration: none;
}

.alpha:hover {
  color: #bbb;
}

ul.flex {
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 5%;
}

.nav-btn {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-family: "Source Sans Pro";
  border-right: 1px solid #fff;
  cursor: pointer;
}

.last-nav-btn {
  border-right: none;
}

.nav-btn:hover {
  background-color: #bbb;
}

.alpha-section {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
    url("./images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  height: 700px;
}

.alpha-heading {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.alpha-par {
  max-width: 400px;
  margin-bottom: 40px;
}

.alpha-btns {
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.sign-up {
  padding: 10px 40px;
  color: #323131;
  background-color: #bbb;
}

.sign-up:hover {
  background-color: #fff;
}

.learn-more {
  padding: 10px 28px;
  color: #4e4c4c;
  background-color: #fff;
}

.learn-more:hover {
  background-color: #efefef;
}
